<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <style>body { background-color: #f0f0f0; }</style>
    <link rel="shortcut icon"
          href='https://cdn2.iconfinder.com/data/icons/round-varieties/60/Rounded_-_High_Ultra_Colour06_-_Shopping_Bag-64.png'>
    <title>Список заказов</title>
</head>
<body>
<div class="container mt-5">
    <h1>Список заказов</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Адрес</th>
            <th>Статус</th>
            <th>Стоимость</th>
            <th>Создан</th>
            <th>Обновлен</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for order in list_of_all_orders %}
        <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ order.order_date }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.created_at }}</td>
            <td>{{ order.updated_at }}</td>
            <td>
                <a href="{% url 'order_detail' order.order_id %}" class="btn btn-sm btn-primary">Подробности</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if not list_of_all_orders %}
    <br><br><br><br><br><br>
    <div style="display: grid; place-items: center;">
        <h4 style="color: gray;">У вас не было заказов.</h4>
    </div>
    <br><br><br><br>
    {% endif %}
    <a href="{% url 'catalog' %}" class="btn btn-primary mt-3">Перейти в каталог</a>
</div>
</body>
</html>
